@CHARSET "UTF-8";
body{
    background-color: #060;
}
#outer{
    width: 700px;
    height: 400px;
    background-color: #222;
    border: 4px solid #fff;
    border-radius: 40px;
    position: relative;
}

#inner{
    width: 500px;
    height: 200px;
    background-color: #060;
    border: 4px solid #fff;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#finishLine{
    width: 40px;
    height: 80px;
    font-size: 0;
    position: absolute;
    left: 210px;
    top: 300px;
}

.checker{
    width: 10px;
    height: 10px;
    display: inline-block;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.car{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}

#car1{
    background-color: purple;
    left: 100px;
    top: 375px;
}
#car2{
    background-color: red;
    left: 100px;
    top: 340px;
}