@CHARSET "UTF-8";
body{
    background-color: #060;
}
#outer{
    width: 700px;
    height: 400px;
    background-color: #222;
    border: 4px solid #fff;
    border-radius: 40px;
    position: relative;
}

#inner{
    width: 500px;
    height: 200px;
    background-color: #060;
    border: 4px solid #fff;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#finishLine{
    width: 40px;
    height: 80px;
    font-size: 0;
    position: absolute;
    left: 210px;
    top: 300px;
}

.checker{
    width: 10px;
    height: 10px;
    display: inline-block;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.car{
    width: 35px;
    height: 35px;
    position: absolute;
}

#car1{
    background: url('4363779-cars-png-images-free-download-car-png-car-png-images-1636_764.png') no-repeat center center;
    background-size:contain;
    left: 100px;
    top: 375px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
#car2{
    background: url('Download-Car-Transparent-PNG-420x202-For-Designing-Purpose.png') no-repeat center center;
    background-size:contain;
    left: 100px;
    top: 340px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}